[production]
Chrome >= 90
Firefox >= 90
Safari >= 14
Edge >= 90
Opera >= 76
iOS >= 14
Samsung >= 14
not dead
not IE 11

[development]
last 1 Chrome version
last 1 Firefox version
last 1 Safari version
